    <!-- Day Letter -->
    <span style="float: right; padding-right: 3px;
      font-weight: <%= if entry["Bold"] do %>bold<% else %>normal<% end %>;      font-size:15px;
      cursor: pointer;"
    onclick="window.location='<%= entry["Url"] %>'" title="<%= entry["Hover"] %>"><%= entry["Letter"] %></span>
