    <!-- Event -->
      <div style="margin: 0 auto; width: 600px; word-wrap: break-word;" title="<%= first["Rule"] %>">
      	<span style="font-size:20px; font-family: 'Open Sans', sans-serif; word-wrap: break-word;">
      	  	&nbsp;&nbsp;<input type="checkbox" name="t" onclick="window.location='/checked?event=Midland+Mortgage+Payment&overdue=true&value='+this.value;">
      	  	&nbsp;<%= first["Name"] %>
      	</span>
      </div>
